<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<title>SeedSigner SettingsQR Generator</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<link rel="icon" href="img/icon_192x192.png"/>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/qrcode.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="js/bootstrap.bundle.min.js"></script>
<style>
    body {
        background-color: #ccc;
        text-align: center;
        font-family: "Open Sans",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    }
    .top_nav {
        height: 100px;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1.5em;
    }
    .top_nav .logo {
        position: absolute;
        top: 0;
        left: 0;
    }
    .top_nav .title {
        margin-left: 240px;
        text-align: left;
        color: #ff7300;
        font-size: 2em;
    }

    .qrcode_container {
        display: inline-block;
        margin: 1em;
        padding: 1em 2em 1em 2em;
        color: green;
        background-color: white;
        text-align: center;
        border-radius: 1em;
    }
    .config_name_display {
        font-size: 1.5em;
        font-style: italic;
    }
    .qrcode {
        margin: 1em 0 0.5em 5px;
    }
    .note {
        font-style: italic;
    }

    .input_table {
        display: inline-block;
        vertical-align: top;
        margin: 1em;
        font-size: 1.25em;
    }
    .input_table td {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        text-align: left;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .input_table .label {
        text-align: right;
        font-size: 0.9em;
    }
    .input_table .label-top {
        vertical-align: top;
    }
    .input_table .sublabel {
        text-align: left;
    }
    .input_table .config_name {
        font-size: 0.9em;
    }
    .input_table label {
        font-size: 0.75em;
    }

    .input_table .help_text {
        color: #888;
        font-size: 0.75em;
        font-style: italic;
    }

    .config_preview {
        margin-top: 3em;
        margin-bottom: 2em;
        text-align: center;
    }
    .config_preview pre {
        display: inline-block;
        text-align: left;
    }


    @media print {
        body {
            font-size: 0.75em;
        }
        .top_nav, .config_preview, .no_print {
            display: none;
        }
        .input_table .label {
            /* font-size: 0.75em; */
        }
        .input_table label {
            /* font-size: 0.75em; */
        }
        .form-select {
            font-size: 0.75em;
            padding: 0;
        }

    }


</style>
</head>
<body>
    <div class="top_nav">
        <img class="logo" src="img/logo_black_240.png"/>
        <div class="title">SettingsQR Generator</div>
    </div>

    <div class="qrcode_container">
        <h3>SettingsQR</h3>
        <div class="config_name_display" id="config_name_display"></div>
        <div class="qrcode" id="qrcode"></div>
        <div class="note">There is NO private information in this QR code.<br/>It is safe to print or share.</div>
    </div>

    <table class="input_table">
        <tr class="no_print">
            <td class="label">Config name (optional):</td>
            <td>
                <input type="text" class="form-control" id="config_name" maxlength="32">
            </td>
        </tr>
        {% for entry in settings_entries %}
            <tr>
                <td class="label">
                    {{ entry.display_name }}
                    {% if entry.help_text %}
                        <div class="help_text">{{ entry.help_text }}</div>
                    {% endif %}
                </td>
                <td>
                    {% if entry.type in ["select_1", "enabled_disabled_prompt", "enabled_disabled_prompt_required"] %}
                        <select name="{{ entry.attr_name }}" id="{{ entry.attr_name }}" class="form-select" onchange="buildConfig();" autocomplete="off">
                            {% for option in entry.selection_options %}
                                <option value="{{ option.value }}" {% if option.value == entry.default_value %}selected{% endif %}>{{ option.display_name }}</option>
                            {% endfor %}
                        </select>
                    {% elif entry.type == "enabled_disabled" %}
                        <div class="form-check form-switch">
                            <input type="checkbox" name="{{ entry.attr_name }}" id="{{ entry.addr_name }}" class="form-check-input" value="E" onchange="buildConfig();" {% if entry.default_value == "E" %} checked {% endif %} autocomplete="off">
                        </div>
                    {% elif entry.type == "multiselect" %}
                        {% for option in entry.selection_options %}
                            <label for="{{ entry.attr_name }}_{{ option.value }}"><input type="checkbox" name="{{ entry.attr_name }}" id="{{ entry.attr_name }}_{{ option.value }}" value="{{ option.value }}" {% if option.value in entry.default_value %} checked {% endif %}  onchange="buildConfig();" autocomplete="off">&nbsp;{{ option.display_name }}</label><br/>
                        {% endfor %}
                    {% endif %}
                </td>
        {% endfor %}
    </table>

    <br/>
    <div class="config_preview" id="config_preview"></div>



    <script type="text/javascript">
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            width : 400,
            height : 400,
            colorDark : "green",
            colorLight : "white",
            correctLevel : QRCode.CorrectLevel.L
        });

        function buildConfig() {
            var settings = [`type=settings`];
            settings.push(`version=1`);
            if ($("#config_name").val() != "") {
                settings.push(`name=` + $("#config_name").val().replaceAll(" ", "_"));
            }

            {% for entry in settings_entries %}
                {% if entry.type in ["select_1", "enabled_disabled_prompt", "enabled_disabled_prompt_required"] %}
                    settings.push(`{{ entry.attr_name }}=${$("#{{ entry.attr_name }}").val()}`);
                {% elif entry.type in ["multiselect", "enabled_disabled"] %}
                    if ($("input[name='{{ entry.attr_name }}']:checked").length > 0) {
                        settings.push(`{{ entry.attr_name }}=${$("input[name='{{ entry.attr_name }}']:checked").map(function () {return this.value;}).get().join()}`);
                    }
                {% endif %}

            {% endfor %}

            var config = settings.join(" ");
            $("#config_preview").html("<pre>" + settings.join("\n") + "</pre>");
            qrcode.makeCode(config);
        }

        $(document).ready(function() {
            buildConfig();

            $("#config_name").on("input keyup", function() {
                $("#config_name_display").text($("#config_name").val());
                buildConfig();
            })
        });
    </script>
</body>